<!DOCTYPE html>
<html>
    <head>
    <title>TIFF Display Example</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <style>
        #map { height: 400px; }
    </style>
</head>
<body>
<body>

<h2>Upload KML File</h2>

<input type="file" id="kmlFile" name="kmlFile">
<button id="uploadBtn">Upload and Process</button>
<!-- <button id="uploadBtn2">Upload Tiff</button> -->

<div id="ndviStats"></div>
<div id="downloadLink"></div>


<script>
document.getElementById('uploadBtn').addEventListener('click', uploadFiles);
document.getElementById('uploadBtn2').addEventListener('click', uploadFiles2);
function uploadFiles2() {
    
    fetch('/tiffupload', {
        method: 'POST',
    })
    .then(response => response.json())
    .then(data => {
        console.log("Success");  
    })
}

function uploadFiles() {
    const kmlFile = document.getElementById('kmlFile').files[0];
    if (!kmlFile) {
        alert("Please select a KML file.");
        return;
    }

    const formData = new FormData();
    formData.append('kml_file', kmlFile);

    fetch('/geospace', {
        method: 'POST',
        body: formData,
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            alert('Upload and processing successful!');

            // Update NDVI stats display
            document.getElementById('ndviStats').innerHTML = `<strong>NDVI Stats:</strong> ${JSON.stringify(data.ndvi_stats)}`;

            // Create a download link/button
            const downloadBtn = document.createElement('a');
            downloadBtn.href = data.download_url; // Assuming `data.download_url` is the direct link to the file
            downloadBtn.textContent = 'Download NDVI TIFF';
            downloadBtn.className = 'btn btn-primary'; // Example if using Bootstrap
            downloadBtn.download = ''; // Suggest the browser to download the link

            // Clear any existing content and add the new download link/button
            const downloadLinkDiv = document.getElementById('downloadLink');
            downloadLinkDiv.innerHTML = '';
            downloadLinkDiv.appendChild(downloadBtn);
        } else {
            alert(data.message);
        }
    })
    .catch(error => {
        console.error('There has been a problem with your fetch operation:', error);
        alert('Error processing file');
    });
}

</script>

</body>
</html>
